<div class ="container mt-4">
    <h1>Movimiento Inventario</h1>
    <div class="d-flex justify-content-center mb-3">
        <button  mat-raised-button color="primary"(click)="abrirModal(movimientoInventario)">
        <mat-icon>add</mat-icon>Agregar movimientoInventario
        </button>
    </div>
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtroMovimientoInventario($event)" placeholder="Buscar movimientoInventario...">
    </mat-form-field>
    <div class="table-resposive">
        <table mat-table [dataSource]="dataSource"matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="detalles">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let movimientoInventario">
                    <button mat-icon-button color="primary" (click)="abrirModalDEtalles(movimientoInventario)">
                        <mat-icon>visibility</mat-icon>

                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="idMovimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let l">{{l.idMovimiento}}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let l">{{l.tipo}}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                <td mat-cell *matCellDef="let l">{{l.cantidad}}</td>
            </ng-container>

            <ng-container matColumnDef="fechaMovimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaMovimiento</th>
                <td mat-cell *matCellDef="let l"> {{l.fechaMovimiento| date:'yyyy-MM-dd'}}</td>
            </ng-container>

            <ng-container matColumnDef="productos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>productos</th>
                <td mat-cell *matCellDef="let l">{{l.productos}}</td>
            </ng-container>
        </table>

    </div>
</div>


